services:
  - type: web
    name: canapp
    env: node
    plan: free
    region: frankfurt

    buildCommand: |
      npm install
      npm run build

    startCommand: |
      npm start

    envVars:
      - key: NODE_VERSION
        value: 18
      - key: FC_API_TOKEN
        sync: false
      - key: PORT
        value: 10000

    staticPublishPath: dist/client
    staticPublishPathRedirect: true
